*{
  padding: 0px;
  margin: 0px;
  font-family: fantasy;
}

.design-sia{
  height: 100vh;
  background-image: url(beauty-salon-img3.jpggh.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;



}
.logoBar{
  font-size: 40px;
  font-size: bold;
  color: #fff;
  outline: none;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: bold;
}
.logospancls{
  color: crimson;
}
.spancls{
  color: red;
  font-size: 25px;
  padding: 3px 8px;
  margin-top: -5px;
  border: 4px solid crimson;
  border-radius: 20px;
  cursor: pointer;
}
.design-s{
  width: 85%;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h1clss{
  font-size: 85px;
  padding: 10px 20px;
  align-items: center;
  margin: 0.5rem;
  display: flex;
  text-align: center;

}
.h3clss{
  font-family: sans-serif;
  font-size: 60px;
  color: crimson;
  margin: 1rem 0;
  padding-left: 68px;
  align-items: center;
  margin: 10px 20px;
}
.bttnclss{
  margin: 2rem 0;
  font-size: 2rem;
  height: 4rem;
  width: 14rem;
  background: transparent;
  border: 2px solid crimson;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: crimson;
  font-weight: bold;
}
.bttnclss:hover{
  background: crimson;
  color: #fff;
}
.buttdivcls{
    padding-left: 250px;
}
.bttncls{
  margin: 2rem 0;
  font-size: 18px;
  height: 50px;
  width: 120px;
  background: transparent;
  border: 2px solid crimson;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  color: crimson;
  font-weight: bold;
}
.design-l{
  color: #fbfcfd;
  align-items: center;
  padding-left: 220px;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2;


}
.h1cls{
  font-size: 80px;
  margin: 10px 0px 30px;
  line-height: 80px;
}
 .buttn{
	display: inline-block;
	background: crimson;
	color: #fff;
	font-size: 25px;
	padding: 12px 36px;
	margin-top: 20px;
	border-radius: 20px;
	border: 2px solid crimson;
	transition: all 0.3s ease;


}

.bttncls:hover{
  background-color: crimson;
  color: white;
}

.buttn:hover{
	color: crimson;
	background: none;
}
.bubbles img{
  width: 50px;
  animation: bubble 7s linear infinite;
}
.bubbles{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -50px;

}
@keyframes bubble {
  0%{
    transform: translateY(0);
    opacity: 0;
    }
  50%{
  opacity: 1;
   }
 70%{
   opacity: 1;

    }
 100%{
   transform: translateY(-80vh);
   opacity: 0;
     }
}
.bubbles img:nth-child(1){
  animation-delay: 2s;
}
.bubbles img:nth-child(2){
  animation-delay: 5s;
}
.bubbles img:nth-child(3){
  animation-delay: 3s;
}
.bubbles img:nth-child(4){
  animation-delay: 4s;
}
.bubbles img:nth-child(5){
  animation-delay: 1s;
}
.bubbles img:nth-child(6){
  animation-delay: 5s;
}
.bubbles img:nth-child(7){
  animation-delay: 2s;
}
/* sectionID section start*/
#sectionID{
  height: auto;
  width: 100vw;
  display: grid;
  place-items: center;
  background: crimson;
}
.h1clsssec{
  color: #fff;
  font-size: 4rem;
  margin: 2rem 0;
}
.card-container{
  width: 90vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 0;
}
.card{
  width: 300px;
  margin: 2rem;
  background: #fff;

}
.card img{
  width: 100%;
  height: 50%;
  object-fit: cover;

}
.content{
  height: 50%;
  width: 100%;
  text-align: center;
}
.h1clscontent{
  color: crimson;
  font-size: 35px;
  margin: 1rem 0;
}
.pclsscontent{
  font-size: 12px;
  padding: 10px;
}
.btnclscontent{
  margin: 10px;
  font-size: 14px;
  height: 30px;
  width: 80px;
  background: transparent;
  border: 2px solid crimson;
  outline: none;
  cursor: pointer;
  color: crimson;
}
.btnclscontent:hover{
  background: crimson;
  color: #fff;
}
.card:hover{
  transform: translateY(-3rem);
  transition: 0.5s;
  box-shadow: 0 0 1rem #333;
}
#portsection{
  background: crimson;

}
.container{
  padding: 2% 6%;
}
.h1portclss{
  color: #fff;
  font-size: 4rem;
  text-align: center;
  margin: 2rem 0;
}
.port-boxx{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4px 0 0;
}
.port{
  margin-bottom: 4%;
  position: relative;
}
.port img{
  height: 300px;
  width: 350px;
  border-radius: 10px;
  object-fit: cover;
}
.port h4{
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  transform: translate(-50%,-50%);
  font-size: 24px;
  opacity: 0;
}
.port::before{
  height: 0%;
  width: 100%;
  position: absolute;
  content: "";
  background: #ffb400bf;
  border-radius: 10px;
  transition: 0.5s;
}
.port:hover::before{
  height: 100%;
  transition: 0.5s;
}
.port:hover h4{
  top: 50%;
  transition: 0.5s;
  opacity: 1;
}
/* about section*/

#aboutsection{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  background: url(1209558.jpgert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;

  }
.aboutclss{
  color: #fff;
  font-size: 4rem;
  text-align: center;
  margin: 2rem 0;
}
.imgdivclss img{
  height: 200px;
  width: 200px;
  border: 5px solid white;
  align-items: center;
  border-radius: 110px;
  margin-top: -40px;
  transition: all 0.5s ease;

}
.imgdivclss img:hover{
  background: transparent;
  transform: translateX(5%);
}
.imgdivclss{
  padding-left: 515px;
}
.abouth1clss{
  font-size: 40px;
  font-family: sans-serif;
  color: crimson;
  padding-left: 505px;

}

.aboutpclss{
  font-size: 20px;
  font-family:cursive;
  margin: 1px 200px;
  margin-top: 35px;
  color: #000;
  text-align: justify;
  justify-content:center;
}
#signupsection{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  background: url(1209558.jpgert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;

}
.signupdiv form {
  display: flex;
  flex-flow:column;
}
.signupdiv h1{
  color: crimson;
  font-size: 4rem;
}
.signupdiv input{
  height: 2rem;
  background: transparent;
  margin: 1rem 0;
  padding: 0 1rem;
  border: 2px solid crimson;
  outline: none;
  color: #fff;
  font-weight: bold;
}
.signupdiv input::placeholder{
  color: crimson;
}
.signupdiv input:focus{
  background: crimson;
}
.signupdiv input[type="submit"]{
  background: crimson;
  color: #fff;
  margin: 10px;
  font-size: 14px;
  height: 30px;
  width: 80px;
  border: 2px solid crimson;
  outline: none;
  cursor: pointer;

}
.signupdiv input[type="submit"]:hover{
  background: transparent;
}
.signupdiv textarea{
  resize: none;
  background: transparent;
  outline: none;
  padding: 1rem;
  border: 2px solid crimson;
  font-weight: bold;
}
#footersection{
  height: auto;
  width: 100vw;
  display: grid;
  place-items: center;
  background: #333;
}
.msg{
  text-align: center;
  color: #fff;
  /*margin: 2rem 0;*/
}
.msg span{
  color: crimson;
}
.footerdivclss{
  height: auto;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logodivclss{
  margin: 20px 0;
  flex: 1 0 25px;
}
.logo{
  margin: 1rem 0;
}
.icons{
  display: flex;
  flex-flow: column;

}
.icons a{
  text-decoration: none;
  color: crimson;
  font-size: 25px;
  margin: 10px;
  position: relative;
}
.icons a::after{
  content: attr(data-taxt);
  position: absolute;
  top: 50px;
  left: 40px;
  font-family: 'Exo 2',sans-serif;
  font-style: italic;
  font-size: 18px;
  color: #fff;

}
.contect-info{
  flex: 1 0 25px;;

}
.info{
  height: 60px;
  width: 20px;
  background: crimson;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}
.info a{
  font-size: 20px;
  margin: 20px 0;
  text-decoration: none;
  color: #fff;
  position: relative;
}
.info a::after{
  content: attr(data-taxt);
  position: absolute;
  top: 15px;
  left: 17px;
  align-items: left;
  font-family: 'Exo 2',sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  color: #fff;

}
.letter{
  padding-left: 900px;
  flex: 1 0 25px;
}
.letter h1{
  font-size: 30px;
  color: crimson;

}
.letter p{
  color: #fff;
  font-size: 18px;
}
.Siamaaaaaaa{
  margin: 2rem 0;
  font-size: 2rem;
  height: 4rem;
  width: 14rem;
  background: transparent;
  border: 4px solid crimson;
  border-radius: 20px;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: crimson;
  font-weight: bold;
}
.Siamaaaaaaa:hover{
  background-color:;
  color: #fff;
}
.aboutpclss:hover{
  transition: 0.5s;
  color: #fff;
  background-color: black;
  border: 2px solid crimson;


}
